table {
  margin: 30px auto;
  border: #003153 solid medium;
}
details {
  margin: 4vw;
}
section {
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}
@media (max-width: 800px) {
  section {
    width: 60vw;
  }
}
section .block {
  display: inline-grid;
  margin: 10px;
}
input[type=submit] {
  background-color: #003153;
  border: none;
  color: #afdafc;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
